src/tmt.dtd

<?xml version="1.0"?>
<!-- DTD for Time Motion Timer -->

<!ELEMENT TMT (identifiers,events)>

<!ELEMENT identifiers (id*)>

<!ELEMENT id EMPTY>
<!ATTLIST id 
          name CDATA #REQUIRED
          length CDATA #REQUIRED>
				
<!ELEMENT events (process*,task*)>

<!ELEMENT process (process*,task*)>
<!ATTLIST process 
          name CDATA #REQUIRED>

<!ELEMENT task EMPTY>
<!ATTLIST task 
          key CDATA #REQUIRED
          name CDATA #REQUIRED>
        
